.event,
.event > div {
    display: flex;
}

.event > div:first-child > p {
    flex: 0 0 10rem;
    font-size: 2rem;
    margin-top: .8rem;
    align-self: stretch;
}

.event > div:first-child {
    flex: 1 1 auto;
}

.event > div:last-child {
    flex: 0 0 12px;
}
