.favorite {
    width: 12px;
    height: 12px;
}

.favorite>input,
.favorite>label>span {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.star {
    --color-lemon: #fced08;
    --color-pastel-yellow: #f2f2b0;
    --color-pastel-purple: #d7acd4;
    --color-gray: #eeeeee;
    transform: scale(2);
    transform-origin: center;
}

.explosion {
    transform: scale(0);
    fill: var(--color-pastel-purple);
    transform-origin: center;
}

.star {
    fill: var(--color-gray);
}

.star.-checked {
    animation: activate 300ms ease-in;
    fill: var(--color-pastel-yellow);
}

.star.-checked .explosion {

    /* "forwards" stops the animation from going back to its initial state */
    animation: explode .5s linear forwards;
}

@keyframes activate {
    30% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.2);
    }
}

/* This is probably totally wrong */
@keyframes explode {
    10% {
        transform: scale(-.2);
        opacity: 0;
    }

    50% {
        transform: scale(-.6);
        opacity: .2;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
