@import '../node_modules/dialog-polyfill/dialog-polyfill.css';

body
{
    margin: 0;
    padding: 0;
}

.app
{
    display: grid;

    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1rem;
}

.tag.-fav
{
    grid-column: col-start 1 / span 12;
}

nav
{
    grid-column: col-start / span 8;
}

.modal-open
{
    overflow: hidden;
}
